<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to hindu.com</h1>
<p>
  Please click the below link to confirm your account
   <%= root_url+"/users/confirm?email="+@user.email+"&confirmation_token="+@user.confirmation_token %>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>