<div class="home_container">
<div class="home_wrapper">
  <div class="wrapped-content" style="padding: 150px 0px 20px 0px;width: 960px; margin: auto;">
    <h1 class="proxima-bold" style="letter-spacing: 7px; color: white; font-size: 3.1em; margin: 3px 0px 20px 0px;text-shadow: 0 0 10px rgba(0,0,0,.5);">
      PUT THE GOD BACK ON CLOUDS</h1>
    <h2 class="proxima-regular" style="font-weight: normal; letter-spacing: 1px; margin: 0px; font-size: 22px;text-shadow: 0 0 10px rgba(0,0,0,.5);">
      Get connected with the God, offer pujas and archanas online
      <div class="bottom clearfix" style="width: 700px; margin: auto;">
        <div class="videothumb" style=" margin-bottom: 76px;">
          <span class="play top black"></span>
          <span class="play bottom blue"></span>
          <span class="image"><img src="http://images.apple.com/iphone/home/images/promo_5c_thumbnail.jpg" width="258" height="145" alt=""></span>
        </div>
        <a href="/plans" class="proxima-bold button get-started orange-gradient" style="
        color: #fff;
                text-decoration: none !important; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
                display: inline-block; font-size: 18px; letter-spacing: 3px; padding: 10px 22px; text-shadow: none !important;
                background-image: -webkit-linear-gradient(90deg, #dc534b 0%, #d96f5f 100%); box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 0px rgba(255, 255, 255, 0.2); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
        ">GET STARTED NOW</a>
      </div>
    </h2></div>
</div>

<div class="second_box_wrapper">
  <div class="grid-row clearfix">
    <div class="grid-3">
      <div class="big-icon"><img src="/assets/icon_globe.png"/></div><h3>What is Hindu?</h3>
      Hindu is a web platform for accessing all hindu temple information worldwide.One platform for all hindu religious needs.
    </div>
    <div class="grid-3">
      <div class="big-icon"><img src="/assets/icon_person.png"/></div><h3>Who is it for?</h3>
      Built for devotees,volunteers, donors, preists and temple administrators. It helps the temple community get connected.
    </div>
    <div class="grid-3">
      <div class="big-icon"><img src="/assets/icon_heart.png"/></div><h3>Why you'll love it</h3>
      Devotees and volunteers get notified about temple events. Temple management get visibility on their donors and volunteers.        </div>
  </div>
</div>

  <div class="hr"></div>

  <div id="featured_temples" class="featured_temples">
    <div class="featured_row">
      <div class="featured_left">
        <div class="temple_title"><h3>Shiva-Vishnu Temple, Livermore</h3></div>
        <div class="temple_image thumbnail"><a href="http://www.livermoretemple.org" target="_blank"><img src="/assets/temples/home/livermore_temple.jpg"/></a></div>
        <div class="temple_contact">
          <div class="temple_address">
            Hindu Community and Cultural Center<br/>
            1232 Arrowhead Ave.<br/>
            Livermore, CA 94551
          </div>
          <div class="temple_phone">
            info@livermoretemple.org  <br/>
            (925) 449 6255
          </div>
        </div>
        <div class="temple_info">
          <a href="http://www.livermoretemple.org" target="_blank">http://www.livermoretemple.org</a>
        </div>
      </div>
      <div class="featured_right">
        <div class="temple_title"><h3>Shri Swaminarayan Mandir, San Jose</h3></div>
        <div class="temple_image thumbnail"><a href="http://www.swaminarayan.org/globalnetwork/america/sanjose.htm" target="_blank"><img src="/assets/temples/home/swaminarayan_temple.jpg"/></a></div>
        <div class="temple_contact">
          <div class="temple_address">
            BAPS Shri Swaminarayan Mandir<br/>
            1430.California Circle,<br/>
            Milpitas, CA 95035
          </div>
          <div class="temple_phone">
            info@swaminarayan.org <br/>
            (408) 263 2277
          </div>
        </div>
        <div class="temple_info">
          <a href="http://www.swaminarayan.org/globalnetwork/america/sanjose.htm" target="_blank">Website</a>
        </div>
      </div>
    </div>

    <div class="featured_row">
      <div class="featured_left">
        <div class="temple_title"><h3>Sunnyvale Hindu Temple, Sunnyvale</h3></div>
        <div class="temple_image thumbnail"><a href="http://www.sunnyvale-hindutemple.org/" target="_blank"><img src="/assets/temples/home/sunnyvale_temple.jpg"/></a></div>
        <div class="temple_contact">
          <div class="temple_address">
            Sunnyvale Hindu Temple<br/>
            450 Persian Drive<br/>
            Sunnyvale, CA 94089
          </div>
          <div class="temple_phone">
            hindutempleofsunnyvale@gmail.com  <br/>
            (408) 734 4554
          </div>
        </div>
        <div class="temple_info">
            <a href="http://www.sunnyvale-hindutemple.org/" target="_blank">http://www.sunnyvale-hindutemple.org/</a>
        </div>
      </div>
      <div class="featured_right right_most_temple">
        <div class="temple_title"><h3>Fremont Hindu Temple, Fremont</h3></div>
        <div class="temple_image thumbnail"><a href="http://www.fremonttemple.org/" target="_blank"><img src="/assets/temples/home/fremont_temple.jpg"/></a></div>
        <div class="temple_contact">
          <div class="temple_address">
            Vedic Dharma Samaj<br/>
            3676 Delaware Drive,<br/>
            Fremont, CA 94538
          </div>
          <div class="temple_phone">
            templeadmin@fremonttemple.org <br/>
            (510) 659 0655
          </div>
        </div>
        <div class="temple_info">
          <a href="http://www.fremonttemple.org" target="_blank">http://www.fremonttemple.org</a>
        </div>
      </div>
    </div>


  </div>

  <div id="newsletter">
    <div class="wrapped-content">
      <h2 class="proxima-bold">Sign up </h2>
      <h4 class="header-text">Be among the first to know about upcoming events at temples</h4>
      <div class="newsletter">
        <form action="http://codiqa.createsend.com/t/t/s/ckjuh/" method="post" id="subForm">
          <div class="subscribe_div">
            <input type="text" name="cm-ckjuh-ckjuh" id="ckjuh-ckjuh" class="email-input" placeholder="Enter your email address"> <button class="flat-blue-button proxima-bold subscribe btn-large btn-primary">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>





  </div>