<div class="home_container">
<div class="home_wrapper">
  <div class="wrapped-content" style="padding: 150px 0px 20px 0px;width: 960px; margin: auto;">
    <h1 class="proxima-bold" style="letter-spacing: 7px; color: white; font-size: 3.1em; margin: 3px 0px 20px 0px;text-shadow: 0 0 10px rgba(0,0,0,.5);">
      PUT THE GOD BACK ON CLOUDS</h1>
    <h2 class="proxima-regular" style="font-weight: normal; letter-spacing: 1px; margin: 0px; font-size: 22px;text-shadow: 0 0 10px rgba(0,0,0,.5);">
      Get connected with the God, offer pujas and archanas online
      <div class="bottom clearfix" style="width: 700px; margin: auto;">
        <div class="videothumb" style=" margin-bottom: 76px;">
          <span class="play top black"></span>
          <span class="play bottom blue"></span>
          <span class="image"><img src="http://images.apple.com/iphone/home/images/promo_5c_thumbnail.jpg" width="258" height="145" alt=""></span>
        </div>
        <a href="/plans" class="proxima-bold button get-started orange-gradient" style="
        color: #fff;
                text-decoration: none !important; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
                display: inline-block; font-size: 18px; letter-spacing: 3px; padding: 10px 22px; text-shadow: none !important;
                background-image: -webkit-linear-gradient(90deg, #dc534b 0%, #d96f5f 100%); box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 0px rgba(255, 255, 255, 0.2); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
        ">GET STARTED NOW</a>
      </div>
    </h2></div>
</div>

<div class="second_box_wrapper">
  <div class="grid-row clearfix">
    <div class="grid-3">
      <div class="big-icon-plane"></div><h3>What is Jetstrap?</h3>
      Jetstrap is a 100% web-based interface building tool for Twitter Bootstrap. No software
      to download, just log in and build. Your work is accessible from anywhere.
    </div>
    <div class="grid-3">
      <div class="big-icon-wrench"></div><h3>Who is it for?</h3>
      Built for developers, designers, and idea-people alike, Jetstrap helps
      you get awesome websites up and running fast, with less work
      and digging through docs.
    </div>
    <div class="grid-3">
      <div class="big-icon-heart"></div><h3>Why you'll love it</h3>
      Life is too short to dig through docs when you just want to build. Grab snippets of clean markup and quickly use complicated components. Take off faster!
    </div>
  </div>
</div>

  <div class="hr"></div>

  <div id="features" class="details wrapped-content">
    <h2 class="featuresh2">Simple, secure and reliable</h2>
    <div class="clearfix">
      <div class="icons l">
        <div class="icon">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/feature_bootstrap.jpg" alt="Bootstrap">
          <h5>100% Bootstrap</h5>
        </div>
        <div class="icon">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/feature_htmlcss.jpg" alt="HTML/CSS">
          <h5>Clean HTML export</h5>
        </div>
        <div class="icon">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/feature_dragdrop.jpg" alt="Drag Drop">
          <h5>Drag and Drop</h5>
        </div>
      </div>
      <div class="highlight l">
        <img class="display-image phone hidden" src="https://s3.amazonaws.com/jetstrap-site/images/website/index/phone_screen.png">
        <img class="display-image laptop" src="https://s3.amazonaws.com/jetstrap-site/images/website/index/laptop_screen.png">
        <img class="display-image desktop hidden" src="https://s3.amazonaws.com/jetstrap-site/images/website/index/fullscreen_screen.png">
        <div class="display-options clearfix">
          <a href="#phone" class="proxima-bold button display" data-size="phone">phone</a><a href="#laptop" class="proxima-bold button display selected" data-size="laptop">laptop</a><a href="#desktop" class="proxima-bold button display" data-size="desktop">desktop</a>
        </div>
      </div>
      <div class="icons l">
        <div class="icon">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/feature_responsive.jpg" alt="Responsive">
          <h5>Responsive</h5>
        </div>
        <div class="icon">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/feature_fast.jpg" alt="Fast">
          <h5>Lightning fast</h5>
        </div>
        <div class="icon">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/feature_webbased.jpg" alt="Web Based">
          <h5>Web Based</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="hr"></div>
  <div id="newsletter">
    <div class="wrapped-content">
      <h2 class="proxima-bold">Sign up </h2>
      <h4 class="header-text">Be among the first to know about upcoming features, and news</h4>
      <div class="newsletter">
        <form action="http://codiqa.createsend.com/t/t/s/ckjuh/" method="post" id="subForm">
          <div>
            <input type="text" name="cm-ckjuh-ckjuh" id="ckjuh-ckjuh" class="email-input" placeholder="Enter your email address"> <button class="flat-blue-button proxima-bold subscribe">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>





  </div>