<div class="temples_wrapper">
  <div class="temple_header_image">
    <img class="thumbnail" src="/assets/temples/pages/2.png"/>
  </div>
  <div class="temple_content_wrapper">
    <div class="temple_header"><h1>Shiva-Vishnu Temple, Livermore</h1></div>
    <div class="temple_info">
      <div class="info_left pull-left">
        Hindu Community and Cultural Center<br/>
        1232 Arrowhead Ave. <br/>
        Livermore, CA 94551
      </div>
      <div class="info_right pull-right">
        info@livermoretemple.org  <br/>
        (925) 449 6255 <br/>
        <a href="http://www.livermoretemple.org" target="_blank">http://www.livermoretemple.org</a>
      </div>
    </div>
    <div class="temple_body_wrapper">
      <div class="temple_inner_body">
          <div class="temple_left_nav pull-left">

            <ul class="nav nav-pills nav-stacked">
              <li class="active" id="about_us_li"><a class="tabbedlink" id="about_us" href="#">About Us</a></li>
              <li class="" id="events_li"><a class="tabbedlink" href="#" id="events">Events</a></li>
              <li class="" id="photo_li"><a class="tabbedlink" href="#" id="photo">Photo Gallery</a></li>
              <li class="" id="services_li"><a class="tabbedlink" href="#" id="services">Services</a></li>
            </ul>
          </div>
          <div class="temple_body pull-left">
            <div class="tabbed about_us_box">
                <h1>About Us</h1>
                <p>TCras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
            <div class="tabbed events_box">
              <h1>Events</h1>
              <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                    <tr>
                      <td>Nov 1st 2013</td>
                      <td>Diwali</td>
                      <td>Festival of lights</td>
                    </tr>
                    <tr>
                      <td>Nov 1st 2013</td>
                      <td>Diwali</td>
                      <td>Festival of lights</td>
                    </tr>
                    <tr>
                      <td>Nov 1st 2013</td>
                      <td>Diwali</td>
                      <td>Festival of lights</td>
                    </tr>
                    <tr>
                      <td>Nov 1st 2013</td>
                      <td>Diwali</td>
                      <td>Festival of lights</td>
                    </tr>
                    <tr>
                      <td>Nov 1st 2013</td>
                      <td>Diwali</td>
                      <td>Festival of lights</td>
                    </tr>
                    <tr>
                      <td>Nov 1st 2013</td>
                      <td>Diwali</td>
                      <td>Festival of lights</td>
                    </tr>
                </tbody>
              </table>

            </div>
            <div class="tabbed photo_box">
              <h1>Photo Gallery</h1>
              <div id="blueimp-gallery" class="blueimp-gallery">
                <!-- The container for the modal slides -->
                <div class="slides"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                      </div>
                      <div class="modal-body next"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                          <i class="glyphicon glyphicon-chevron-left"></i>
                          Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                          Next
                          <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="links">
                <a href="/assets/temples/gallery/fremont_temple_big.jpg" title="Banana" data-gallery>
                  <img src="/assets/temples/gallery/fremont_temple_big.jpg" width="200px" alt="Banana">
                </a>
                <a href="/assets/temples/gallery/livermore_temple_big.jpg" title="Apple" data-gallery>
                  <img src="/assets/temples/gallery/livermore_temple_big.jpg" width="200px" alt="Apple">
                </a>
                <a href="/assets/temples/gallery/sunnyvale_temple_big.jpg" title="Orange" data-gallery>
                  <img src="/assets/temples/gallery/sunnyvale_temple_big.jpg" width="200px" alt="Orange">
                </a>
              </div>            </div>
            <div class="tabbed services_box">
              <h1>Services</h1>
              <ul>
                <li>Yoga Classes</li>
                <li>Health Fair</li>
                <li>Food Donation</li>
                <li>Vehicle Pujas</li>
                <li>Classical Dance</li>
                <li>Indian Language Classes</li>
              </ul>
            </div>


          </div>
        </div>
    </div>



  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
      $(".tabbed").hide();
      $(".about_us_box").show();

      $(".tabbedlink").click(function(){
          $(".temple_left_nav li").attr("class","");
          $(".tabbed").hide();
          $("."+this.id+"_box").show();
          $("#"+this.id+"_li").attr("class","active");
      });
  });

</script>